.navbar-fixed .brand-logo img {
  height: 80px;
  margin-top: 20px;
  z-index: 1;
}

.nav-wrapper li a {
  color: #000 !important;
}
.nav-wrapper li .btn {
  color: #fff !important;
}
.active {
  text-decoration: underline;
}
.btn {
  border-radius: 5em !important;
}
.btn-large {
  border-radius: 10em !important;
  width: 15em !important;
  margin-top: 20px !important;
}
.modal {
  width: 40% !important ;
  height: 70% !important;
}
.modal input {
  height: 2.5em !important;
}
.filled-in[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #324ba6 !important;
  background-color: #324ba6 !important;
}
[type="checkbox"]:checked+label:before {
  border-right:2px solid #324ba6 !important;
  border-bottom:2px solid #324ba6 !important;

}
.col.s8.center-align{
  margin: 0 auto !important;
}
.nav-wrapper li .btn-flat {
  border: 1px solid #324ba6;
  color: #324ba6 !important;
  background: inherit;
}
.btn-flat:hover {
  border: 1px solid #324ba6;
  color: #324ba6 !important;
  background: inherit;
}
/* Color of underline for input elements on focus */
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #324ba6;
  -webkit-box-shadow: 0 1px 0 0 #324ba6;
  box-shadow: 0 1px 0 0 #324ba6;
}

/* Autocomplete color */
.section-search input.autocomplete {
  color: #000;
}
.input-field .prefix.active {
  color: #000 !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #000 !important;
}
.autocomplete-content li .highlight {
  color: #324ba6 !important;
}
/* input.timepicker.picker__input{
  background-color: red !important;
} */
.picker__date-display{
  background-color: #324ba6;
}
@media only screen and (max-width: 1000px) {
  .modal {
    width: 75% !important ;
    height: 100vh !important;
  }
}
