.navbar-fixed .brand-logo img {
  /* height: 80px;
  margin-top: 20px; */
  width: 67px;
  z-index: 1;
}

.nav-wrapper li a {
  color: #000 !important;
}
.nav-wrapper li .btn {
  color: #fff !important;
}
.active {
  text-decoration: underline;
}
.btn {
  border-radius: 5em !important;
}
.btn-large {
  border-radius: 10em !important;
}
.modal {
  width: 25% !important ;
  height: 70% !important;
}
.filled-in[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #324ba6 !important;
  background-color: #324ba6 !important;
}
.btn-flat:hover {
  border: 1px solid #324ba6;
  background: #fff;
}
h5{
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .modal {
    width: 75% !important ;
    height: 70% !important;
  }
}
